@charset "UTF-8";
body {font-family: tahoma,arial,helvética;">
Escribe tu texto aquí
</p>
;
color: white;
text-align:center;
font-size:20px;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #7aafcce6;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 50px;
  cursor: pointer;
  width: 20%;
}

.example_b {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #60a3bc;
padding: 10px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

button:hover {
  opacity: 0.7;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #7aafcce6;
}

.imgcontainer {
  text-align: center;
  margin: 60px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}